.footer {
  background-color: #111;
  color: #eee;
  padding: 30px 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-contenido {
  max-width: 1000px;
  margin: auto;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px 0;
  padding: 0;
  flex-wrap: wrap;
}

.footer-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ffeb3b;
}
